
$lime_2: #f4ffb8;
$lime_4: #d3f261;
$purple_10: #120338;
$gray:#f0f2f5;
$gray_6:#bfbfbf;
$gray_4:#f0f0f0;
$blue_3: #adc6ff;
$blue_4: #69c0ff;
$bckgcolor: #dceeff;
$current_bckgcolor: #d1fdff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

*:focus {outline:none !important}

.App {
  height: 100vh;
  background-color: $gray;
  display: flex;
  flex-direction: column;
}

#root {
  height: 100%;
}

header {
  width: 100%;
  display: flex;
  height: 50px;
  align-items: center;
  text-align: end;
  background-color: $purple_10;
  a {
    margin-left: 10px;
    color: red;
    &:hover {
      color: $lime_4;
    }
  }
}

.container {
  max-width: 768px;
  margin: 0 auto;
  width: 100%;
  padding: 3px;
}

.form {
  margin: 0 auto;
  padding: 10px;
  max-width: 250px;
  input {
    width: 100%;
    margin-bottom: 32px;
    padding: 10px;  
    border: 2px solid $gray_6;
    background-color: $gray_4;
    border-radius: 8px;
    &:focus{
      border-color: $blue_3;
    }
    &:hover {
      box-shadow: 0 0 10px $blue_3;
    }
  }

  .btn {
    padding: 10px;
    border: 2px solid $gray_6;
    border-radius: 8px;
    background-color: $gray;
    cursor: pointer;
    transition-duration: .3s;
    &:hover {
      transition-duration: .3s;
      border-color: $blue_4;
      color: $blue_4;
    }
    &[disabled] {
      color: red;
    }
  }
}

.error {
  color: red;
  border-color: red !important;
}

.field {
  position: relative;
}

p.error {
  position: absolute;
  top: 65px;
}

.profile-header {
  margin-top: 20px;
  display: flex;
  .photo {
    width: 240px;
    height: 320px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

    img {
      object-fit: cover;
        width: 100%;
        height: 100%;
    }
  }
}

.chat_page {
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
  height: 100%;

  .users_list {
    margin-right: 20px;
  }

  .chat_body {
    min-width: 500px;
    display: flex;
    flex-direction: column;
    flex: 1 0;


    .messages {
      overflow: overlay;
      flex: 1 1 auto;
      height: 1px;
      .get-more-btn-and-spinner {
        display: flex;
        justify-content: center;
      }
    }

    .chat_input {
      padding: 5px 10px;
    }

    form {
      display: flex;
    }

    input {
      width: 100%;
      padding-right: 27px;
    }

    button {
      right: 0;
      background: none;
      border: none;
      padding: 0 5px;
      color: red;
      top: 0;
      bottom: 0;
      cursor: pointer;

      &:hover {
        color: $lime_4;
        background-color: $gray_6;
      }
    }
  }
}

.message-and-avatar, .dialog_item {
  display: flex;
  margin: 2px 0;
  border-radius: 5px;

  .message {
    flex: 1;

    .msg_body {
      overflow-wrap: anywhere;
    }

    .user {
      font-weight: bolder;
      color: #0058b0;
    }

    .datetime {
      margin-left: 10px;
      color: $gray_6;
      white-space: nowrap;
    }
  }
}

.avatar {
  width: 30px;
  min-width: 30px;
  height: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6.6px 5px;
  border-radius: 50%;

  img {
    object-fit: cover;
      width: 100%;
      height: 100%;
      
  }
}

.dialog_item .msg_body, 
.dialog_item .msg_header .user {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;  
  padding-right: 5px;
  text-overflow: ellipsis;
}

.dialog_item .msg_header {
  display: flex;
  justify-content: space-between;
}

.dialogs_list {
  margin-right: 20px;
  min-width: 250px;
  padding-right: 3px;
  overflow: overlay;
  height: 100%;
  flex: 0 0;

  .message {
    overflow: auto;
  }
}

.dialog_item {
  cursor: pointer;
}

.current_dialog {
  background-color: $bckgcolor;
}

.partner_info {
  display: flex;
  justify-content: center;
  align-items: center;

  & > a {
    display: flex;
     padding: 5px;
     background-color: $bckgcolor;
     border-radius: 8px;
     align-items: center;
  }
}

.user_list {
  margin-top: 10px;
  
  .user {
    display: flex;
    align-items: center;
    & > a {
      margin-left: 10px;
    }

    &:hover {
      background-color: $gray_4;
    }

    &__link {
      display: flex;
      align-items: center;
      color: black;
    }
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-header {
  .success_upload {
    color: green;
  }
  .error_upload {
    color: red;
  }
}

.navbar_avatar {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 0;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color:  #f3faf7;
}

::-webkit-scrollbar-thumb {
  background-color: #143861;
}

.content {
  height: 100%;
  overflow: auto;
  .container {
    height: 100%;
    .chat_page {
      height: 100%;
      .chat_body {
        height: 100%;
      }
    }
  }
}

.user-searcher{
  width: 480px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;

  .search-input {
    flex: 1 1;
    width: 100%;
    min-height: 40px;
    min-width: 40px;
    padding: 0 12px;
    border-radius: 3px;
    border: 1px solid transparent;
    background-color: #ededed;
    color: #464646;
    margin-right: 20px;

    &:focus {
      background-color: #f5f6f7;
      outline: none;
      border-color: #999;
    }
  }

  .search-icon {
    padding-right: 50px;
    background-repeat: no-repeat;
    background-position: right 6px top 45%;
    background-size: 24px 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23929CA5' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' d='M17 11a6 6 0 11-12 0 6 6 0 0112 0zm-1.42 6.56a8 8 0 111.47-1.33l.07.06 3.3 3.3A1 1 0 0119 21l-3.3-3.3-.12-.14z'/%3E%3C/svg%3E");
  }
}

.pagination {
  display: flex;

  &__item {
    min-width: 24px;
    text-align: center;
  }

  &__number {
    padding: 3px;
    cursor: pointer;
    margin: 0 3px;
    background-color: #ededed;
    border: 1px solid #bfbfbf;
  }

  &__active {
    color: green;
    border-color: green;
  }
}

.spinner {
  display: flex;
  margin-top: 10px;

  img {
    height: 20px;
  }
}